# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


-navbar from home is broken (refactor using redux to handle nav states?)
-user permissions is set to allow any (use user authorization to see data?)
-enter button on form dimmer is broken (semantic UI thing come back to it if time permits)
-seed data
