* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: tomatoes;
    src: url('../fonts/tomatoes.ttf');
}

@font-face {
    font-family: conformity;
    src: url('../fonts/conformity.TTF');
}

// ########### SPLASH ###########
.splashPage {
    background-image: url('../images/splash.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .overlay {
        background-color: rgba(0,0,0,0.5);
        height: 60vh;
        .splashLogo {
            left: 50%;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);
            .splashText {
                font-family: conformity;
                font-size: 60px;
            }
            h1 {
                color: white;
                text-shadow: 0px 0px 3px black;
            }
        }
    }
}
// ########### NAVBAR ###########
.navbar {
    display: flex;
    padding-top: 10px;
}

.navbarLogo h1 {
    font-family: conformity;
    font-size: 40px;
}

.navbarOptions span {
    margin-left: 10px;
}
.navbarNewGroup {
    font-size: 20px;
    margin-right: 10px;
}

// ########### Filler ###########
.filler {
    background-image: url('../images/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    .overlay {
        background-color: rgba(0,0,0,0.3);
        height: 50vh;
    }
    .fillerDiv {
        left: 50%;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        h1 {
            color: white;
            text-shadow: 0px 0px 3px black;
        }
    }
}

// ########### CATEGORIES ###########
.categoriesDiv {
    margin-top: 40px;
    margin-bottom: 40px;
    h1 {
      margin-left: 10px;
    }
    .categoriesCards {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
}

// ########### CARD ###########
.card {
  margin: 10px;
  overflow: hidden;
  width: 25rem;
  .card-img-top {
    height: 30vh;
    overflow: hidden;
  }
}

// ########### USERFORM ###########
.registerForm, .loginForm {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 40px;
  h1 {
    color: black;
  }
}

.formInputsPWmsg {
  color: black;
}

// ########### EVENTS ###########
.createEventLoggedIn {
  padding-top: 40px;
  text-align: center;
  h1 {
    color: red;
  }
}

.eventsFiller {
  background-image: url('../images/events_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  .overlay {
      background-color: rgba(0,0,0,0.3);
      height: 50vh;
  }
  .fillerDiv {
      left: 50%;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      h1 {
          color: white;
          text-shadow: 0px 0px 3px black;
      }
  }
}

.eventCards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;
  .eventCardsUserEvents {
    display: flex;
    flex-direction: column;
    .eventCardsUserEventsHeader {
      text-align: center;
    }
    .eventCardsUserEventsDisplay {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 80px;
      padding-top: 40px;
    }
  }
  .eventCardsAllEvents {
    display: flex;
    flex-direction: column;
  }
  .eventCardsAllEventsHeader {
    text-align: center;
  }
  .eventCardsAllEventsDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
    max-height: 400px;
    overflow: scroll;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.eventCard {
  border-radius: 10px;
  border: 1px solid black;
  color: white;
  min-height: 30vh;
  min-width: 300px;
  text-align: center;
  text-shadow: 0px 0px 3px black;
  .overlay {
      background-color: rgba(0,0,0,0.3);
      height: 30vh;
      h1 {
        padding: 10px;
      }
  }
}

.eventCardDisplay {
  margin-top: 10px;
  :hover {
    cursor: pointer;
  }
}

.eventDetailDateTitle {
  display: flex;
}

.eventDetailTitleRight {
  margin-left: 10px;
}

.eventDetailDetails {
  padding-bottom: 40px;
  padding-top: 40px;
}

.dateCard {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  .dateCardDay {
    color: red;
  }
}

.eventDetailContainer {
  display: flex;
  justify-content: space-around;
}

.eventDetailImg {
  max-height: 200px;
  max-width: 300px;
}

.eventDetailHostCategory {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.hostAvatar {
  img {
    border-radius: 50%;
    margin-right: 10px;
    max-height: 50px;
    max-width: 50px;
  }
}

.eventDetailButtons {
  display: flex;
  margin-top: 10px;
}

// ########### GROUP ###########
.groupsFiller {
  background-image: url('../images/group.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  .overlay {
      background-color: rgba(0,0,0,0.3);
      height: 50vh;
  }
  .fillerDiv {
      left: 50%;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      h1 {
          color: white;
          text-shadow: 0px 0px 3px black;
      }
  }
}

.groupStart {
  display: flex;
  flex-direction: column;
}

.groupStartLink {
  margin-top: 40px;
  text-align: center;
}

.groupDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.groupCard {
  height: 30vh;
  width: 18rem;
  .groupCardName, .groupCardDescription, .groupCardUsers {
    color: white;
    text-shadow: 0px 0px 3px black;
  }
  .overlay {
    background-color: rgba(0,0,0,0.3);
    height: 30vh;
  }
  .card-body {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}

.groupForm {
  background-color: white;
  border: 1px solid white;
  height: 50vh;
  width: 50vw;
  padding: 20px;
}

.groupFormDetails {
  text-align: left;
  h2, p {
    color: black;
  }
}

.groupFormDetailsP {
  font-size: 15px;
}

.groupInfoPhotos {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  .groupInfoImage {
    display: flex;
    flex-wrap: wrap;
  }
}

.groupInfoJoinCategoriesButton {
  display: flex;
  flex-direction: column;
  div {
    margin-top: 10px;
  }
}

.groupEventImgs {
  margin: 10px;
  max-height: 20vh;
  max-width: 20vw;
}

.alreadyInGroup {
  color: red;
}

.photoModal :hover{
  cursor: pointer;
}

.upcomingEventsCards, .pastEventsCards {
  max-height: 50vh;
  overflow: scroll;
}

// ########### CREATEGROUP ###########
.createForm {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  .createFormHeader {
    text-align: center;
  }
  .createFormForm {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
}

// .startGroupForm {
//
// }

.stepOne {
  display: flex;
  margin-top: 20px;
  .stepOneHometown {
    margin-left: 10px;
    .nextBtn {
      margin-top: 10px;
    }
  }
}

.formImage {
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
}

// ########### GROUPINFO ###########
.groupInfoFiller {
  display: flex;
  height: 40vh;
  justify-content: space-between;
  .groupInfoImage {
    margin-right: 50px;
    max-width: 50%;
  }
  .groupInfoImage img {
    height: 40vh;
  }
  .groupInfoContent {
    max-width: 50%;
  }
}

.groupInfoAbout {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 40px;
}

.groupInfoRight {
  max-width: 50%;
  .eventCard {
    margin-top: 10px;
  }
  .groupInfoRightEvent {
    :hover {
      cursor: pointer;
    }
  }
}

.groupInfoLeft {
  margin-right: 80px;
  .groupInfoLeftMembers {
    margin-top: 40px;
  }
}

.groupInfoLeftMembersDisplay {
  display: flex;
  flex-wrap: wrap;
}

.groupInfoMemberCard {
  border-radius: 10px;
  width: 10vw;
}

.groupInfoMemberAvatar {
  border-radius: 50%;
}


// ########### WELCOME ###########
.welcomeFiller {
  background-image: url('../images/welcome.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  .overlay {
      background-color: rgba(0,0,0,0.3);
      height: 50vh;
  }
  .fillerDiv {
      left: 50%;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      h1 {
          color: white;
          text-shadow: 0px 0px 3px black;
      }
  }
  .welcomeName {
    font-family: conformity;
    font-size: 40px;
    h1 {
      text-shadow: 0px 0px 3px black;
    }
  }
}

// ########### STARTOWN ###########
.startOwn {
  background-color: black;
  padding: 0px 0px 40px 0px;
}
.startOwnHeader {
  color: white;
  text-align: center;
  text-shadow: 0px 0px 3px black;
  padding: 40px 0px 40px 0px;
}
.startOwnDocsSocial {
  display: flex;
  justify-content: space-evenly;
}
.copyright {
  color: white;
  font-family: tomatoes;
  padding-top: 20px;
  text-align: center;
  text-shadow: 0px 0px 3px black;
}
// ########### FOOTER ###########

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    .overlay {
        height: 40vh;
        .social-media {
            display: flex;
            justify-content: center;
            top: 50%;
            position: relative;
        .fa-linkedin, .fa-facebook-f, .fa-github, .fa-envelope {
            color: white;
            margin: 0 10px;
        }
        }
        .copyright {
            top: 50%;
            left: 50%;
            position: relative;
            transform: translate(-50%, 0);
        p {
            color: white;
            padding-top: 40px;
            text-align: center;
        }
        .signature {
            font-family: tomatoes;
            text-shadow: 0px 0px 3px black;
        }
        }
    }
}
