* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: tomatoes;
  src: url("../fonts/tomatoes.ttf"); }
@font-face {
  font-family: conformity;
  src: url("../fonts/conformity.TTF"); }
.splashPage {
  background-image: url("../images/splash.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  .splashPage .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60vh; }
    .splashPage .overlay .splashLogo {
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%); }
      .splashPage .overlay .splashLogo .splashText {
        font-family: conformity;
        font-size: 60px; }
      .splashPage .overlay .splashLogo h1 {
        color: white;
        text-shadow: 0px 0px 3px black; }

.navbar {
  padding-top: 10px; }

.navbarLogo h1 {
  font-family: conformity;
  font-size: 40px; }

.navbarOptions span {
  margin-left: 10px; }

.navbarNewGroup {
  font-size: 20px;
  margin-right: 10px; }

.filler {
  background-image: url("../images/navbar_meetup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh; }
  .filler .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 50vh; }
  .filler .fillerDiv {
    left: 50%;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute; }
    .filler .fillerDiv h1 {
      color: white;
      text-shadow: 0px 0px 3px black; }

.categoriesDiv {
  margin-top: 40px;
  margin-bottom: 40px; }
  .categoriesDiv h1 {
    margin-left: 10px; }
  .categoriesDiv .categoriesCards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }

.card {
  margin: 10px;
  width: 25rem; }
  .card .card-img-top {
    max-height: 30vh;
    overflow: hidden; }
  .card .card-body {
    max-height: 10vh; }

.registerForm, .loginForm {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 40px; }
  .registerForm h1, .loginForm h1 {
    color: black; }

.formInputsPWmsg {
  color: black; }

.eventsFiller {
  background-image: url("../images/events_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh; }
  .eventsFiller .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 50vh; }
  .eventsFiller .fillerDiv {
    left: 50%;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute; }
    .eventsFiller .fillerDiv h1 {
      color: white;
      text-shadow: 0px 0px 3px black; }

.eventCards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px; }
  .eventCards .eventCardsUserEvents {
    display: flex;
    flex-direction: column; }
    .eventCards .eventCardsUserEvents .eventCardsUserEventsDisplay {
      display: flex; }
  .eventCards .eventCardsAllEvents {
    display: flex; }

.eventCard {
  border-radius: 10px;
  border: 1px solid black;
  color: white;
  min-height: 30vh;
  min-width: 300px;
  text-align: center;
  text-shadow: 0px 0px 3px black; }
  .eventCard .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 30vh; }

.groupsFiller {
  background-image: url("../images/group.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh; }
  .groupsFiller .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 50vh; }
  .groupsFiller .fillerDiv {
    left: 50%;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute; }
    .groupsFiller .fillerDiv h1 {
      color: white;
      text-shadow: 0px 0px 3px black; }

.groupDiv {
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px; }

.groupCard {
  height: 30vh;
  width: 18rem; }
  .groupCard .groupCardName, .groupCard .groupCardDescription, .groupCard .groupCardUsers {
    color: white;
    text-shadow: 0px 0px 3px black; }
  .groupCard .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 30vh; }
  .groupCard .card-body {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 30vh; }

.groupForm {
  background-color: white;
  border: 1px solid white;
  height: 50vh;
  width: 50vw;
  padding: 20px; }

.groupFormDetails {
  text-align: left; }
  .groupFormDetails h2, .groupFormDetails p {
    color: black; }

.groupFormDetailsP {
  font-size: 15px; }

.startOwn {
  background-color: black;
  padding: 0px 0px 40px 0px; }

.startOwnHeader {
  color: white;
  text-align: center;
  text-shadow: 0px 0px 3px black;
  padding: 40px 0px 40px 0px; }

.startOwnDocsSocial {
  display: flex;
  justify-content: space-evenly; }

.copyright {
  color: white;
  font-family: tomatoes;
  padding-top: 20px;
  text-align: center;
  text-shadow: 0px 0px 3px black; }

.footer {
  position: absolute;
  width: 100%;
  bottom: 0; }
  .footer .overlay {
    height: 40vh; }
    .footer .overlay .social-media {
      display: flex;
      justify-content: center;
      top: 50%;
      position: relative; }
      .footer .overlay .social-media .fa-linkedin, .footer .overlay .social-media .fa-facebook-f, .footer .overlay .social-media .fa-github, .footer .overlay .social-media .fa-envelope {
        color: white;
        margin: 0 10px; }
    .footer .overlay .copyright {
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%, 0); }
      .footer .overlay .copyright p {
        color: white;
        padding-top: 40px;
        text-align: center; }
      .footer .overlay .copyright .signature {
        font-family: tomatoes;
        text-shadow: 0px 0px 3px black; }

/*# sourceMappingURL=styles.css.map */
